@using MudBlazor

@if (!string.IsNullOrWhiteSpace(ScanUri))
{
    <MudDialog>
        <DialogContent>
            <object data="@ScanUri" type="application/pdf" width="100%" height="600px">
                <p>·« Ì„ﬂ‰ ⁄—÷ «·„·›. <a href="@ScanUri" target="_blank">«÷€ÿ Â‰« · Õ„Ì· «·„·›</a>.</p>
            </object>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Close" Color="Color.Primary">≈€·«ﬁ</MudButton>
        </DialogActions>
    </MudDialog>
}

@code {
    [Parameter] public string? ScanUri { get; set; }
    [CascadingParameter] public required IMudDialogInstance MudDialog { get; set; }

    private void Close() => MudDialog.Close();
}